In [1]:
student = {
    'name':'john cena',
    'class':'2nd',
    'roll no':21,
    'marks':90
}
print(student)

{'name': 'john cena', 'class': '2nd', 'roll no': 21, 'marks': 90}

In [2]:
print(student['name'])
print(student['class'])

john cena
2nd

In [3]:
print(student.get('name'))
print(student.get('class'))
print(student.get('english'))

john cena
2nd
None

In [4]:
# add a new entry
student['school']='cms'
student['father']=' raja babu'
print(student)

{'name': 'john cena', 'class': '2nd', 'roll no': 21, 'marks': 90, 'school': 'cms', 'father': ' raja babu'}

In [6]:
# update an entry
student['class']='3rd class'
print(student)

{'name': 'john cena', 'class': '3rd class', 'roll no': 21, 'marks': 90, 'school': 'cms', 'father': ' raja babu'}

In [9]:
series = {
    'title':'wednesday',
    'total seasons':5,
    'ott':'Netflix',
    'ratings': 10
}

In [11]:
for key in series:
    print(key)

title
total seasons
ott
ratings

In [12]:
for key in series:
    print(key,series[key])

title wednesday
total seasons 5
ott Netflix
ratings 10

In [13]:
for k,v in series.items():
    print(k,v)

title wednesday
total seasons 5
ott Netflix
ratings 10